# Node modules
node_modules/

# env files
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/

# Production builds (if added in future)
build/
dist/
